/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(poppins/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(poppins/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(poppins/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(poppins/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
}